{% load staticfiles %}
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta name="viewport"
         content="width=device-width, initial-scale=1, shrink-to-fit=no">

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>



   <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}"/>
   <link rel="stylesheet" href="{% static "style.css" %}"/>

   <title>
       {% block title %}
           acCOMPANYme!
       {% endblock %}

   </title>

</head>

<body>

<nav class="navbar navbar-dark bg-dark">


 <a class="navbar-brand" href="#">acCOMPANY me!</a>
</nav>
<ul class="nav_ul">
    <li class="nav_li"><a class="active" href="{% url 'accompanyMe:ride_list' %}"> Home</a></li>
    <li class="nav_li"><a   href="{% url 'accompanyMe:add_user' %} "> Add user</a></li>
    <li class="nav_li"><a   href="{% url 'accompanyMe:add_ride' %}" > Add ride</a></li>
    <li class="nav_li"><a   href="{% url 'accompanyMe:Cancel' %} "> Cancel Ride</a></li>
     <li class="nav_li"><a   href="{% url 'accompanyMe:UserCancel' %} "> User Cancel Ride</a></li>
</ul>

<nav class="navbar navbar-dark bg-dark">


  <a class="navbar-brand" href="#">acCOMPANY me! </a>

    {% if user.is_authenticated %}
  <p class="navbar-brand"> Hi {{ user.username }}! </p>
  <p><a href="{% url 'login' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
</nav>

<div class="container-fluid">
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
    {% block content %}
        DEFAULT CONTENT
    {% endblock %}
</div>


</body>
</html>



