{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
        <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
      <!--  <link rel="stylesheet" href="{% static 'css/blog.css' %}">-->
    </head>
    <body>

        <h1>add Ride</h1>

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <form action="{% url 'accompanyMe:add_a_ride' %}" method="post" >
        {% csrf_token %}
          <!--  <input type="number" minlength="9" maxlength="9" name="id" >-->
            <input type="email" name="driveremail" placeholder="enter email">
            <input type="time" name="hour" placeholder="enter hour">
            <input type="text" name="destination" placeholder="enter destination">
            <input type="date" name="date" placeholder="enter destination">
            <input type="number" name="num_of_available_places" placeholder="enter num of available places">
            <input type="text" name="available" placeholder="enter available">



        <input type="submit" value="AddRide">
        </form>
        </body>
</html>
