{% extends "base.html" %}

{% block title %}
 Cancel Ride
{% endblock %}

{% block content %}
    <h1 class="form_h1"> Cancel Ride</h1>
    <form action="{% url 'accompanyMe:cancel_ride' %}" method="post">
        {% csrf_token %}
        <ul class="list-unstyled">
        {% for choice in objects %}
            <li>
          <input type="radio" name="ride" id="id_{{choice.id}}" value="{{choice.id}}"/>
                <label for="id_{{choice.id}}">

                {{ choice.destination }} {{ choice.hour }}
                </label>

            </li>
        {% endfor %}
        </ul>
         <input type="submit" value="CancelRide"/>
    </form>

{% endblock %}