{% extends "base.html" %}

{% block title %}
    acCOMPANY me!
{% endblock %}

{% block content %}
<!--<h1>-->
    <!--acCOMPANY me!-->
<!--</h1>-->
<html>
<head>
<style>
body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
</style>
</head>
<body>

<ul>
    <li><a class="active" href="#home">Home</a></li>
  <li><a href="add_user" method="POST">Add user</a></li>
  <li><a href="add_ride" method="POST">Add ride</a></li>
  <li><a href="Cancel" method="POST">Cancel Ride</a></li>
  <li><a href="#about">About</a></li>
</ul>

<!--<div style="padding:20px;margin-top:30px;background-color:#1abc9c;height:1500px;">-->

<!--</div>-->

</body>
</html>


<!--<form action="Rides" method="POST">-->
        <!--{% csrf_token %}-->
            <!--<button type="submit">View Rides</button>-->
<!--</form>-->
<form action="BRides" method="POST">
        {% csrf_token %}
            <button type="submit">View Booked Rides</button>
</form>
<form action="Cancel" method="POST">
        {% csrf_token %}
            <button type="submit">Cancel Ride</button>
</form>

{% endblock %}

