
{% extends "base.html" %}

{% block title %}
    acCOMPANY me!
{% endblock %}

{% block content %}

<form action="BRides" method="POST">
        {% csrf_token %}
            <button type="submit">View Booked Rides</button>
</form>
<form action="Cancel" method="POST">
        {% csrf_token %}
            <button type="submit">Cancel Ride</button>
</form>

{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}


